<br><br><br>
<div style="margin-left: 10px;">
    <h4>@ViewBag.Candidato.Nombre @ViewBag.Candidato.Apellido</h4><br>
    <img src="@ViewBag.Candidato.Foto" alt="">
    <br><br>
    <h4>Fecha de Nacimiento @ViewBag.Candidato.FechaNacimiento.ToShortDateString()</h4>
    <h4>Postulacion: @ViewBag.Candidato.Postulacion</h4>
</div>


